<section id="bio">
  <h2>Biography</h2>
  <p>I am a researcher as well as a practitioner. Throughout my career I have worked for or collaborated with several institutions.
    Universities: Warsaw School of Economics (my alma mater), Warsaw University of Technology, University of Warsaw,
    Texas Tech University, University of Virginia;
    NGOs: Stowarzyszenie Harcerskie, Stowarzyszenie 61, Vicariato San Jose del Amazonas);
    banks: PKO B.P.;
    telecom companies: Telekomunikacja Polska S.A., France Telecom R&D and
    government institutions (U.S. Air Force Research Laboratory).
  </p>
  <p>My work focuses on developing and applying technology to various fields of science as well as everyday life.
    Earlier in my career, via the employment at TP S.A. and then my Fulbright scholarship at Texas Tech University I had
    been involved in working with engineers and computer scientists developing modeling environments that integrate
    engineering tools and applications, in particular, the SORCER project (http://sorcersoft.org/).
    Around 2018, I have shifted the main focus of my research and concentrated on applying distributed computing
    and Big Data to bioinformatics and structural biology. Since then, I closely collaborate with Joanna Sulkowska
    and her lab (Laboratory of Biological Systems Modeling) at the University of Warsaw as well as Wladek Minor and
    the Minorlab at the University of Virginia.
  </p>
  <p>In my free time I love to travel and explore the world. I realize this collaborating with:
    <a href="https://advfactory.com" target="_blank">ADVFactory.com</a> (Krzysztof Samborski) and <a href="https://przygody4x4.pl/" target="_blank">Przygody4x4</a>
  </p>

  <h3>Education</h3>
  <ul>
    <li><b>Ph.D. in Computer Science (Distributed Computing)</b>, Warsaw University of Technology, 2010. Dissertation: <i><a href="/assets/data/PhD_Rubach.pdf" target="_blank">Optimal Resource Allocation in Federated Metacomputing Environments”</a></i>. Formal supervisor: Prof. Kazimierz Subieta. Actual supervisor: Prof. Michael Sobolewski</li>
    <li><b>Master of Science</b>, Warsaw School of Economics (SGH), Quantitative Methods & Information Systems, 2003. Thesis: <i><a href="/assets/data/MSc_Rubach.pdf" target="_blank">"Komputerowe metody testowania wiedzy" ("Computerized Methods for Knowledge Testing”)</a></i>. Supervisor: Dr. Anna Rokicka-Broniatowska.</li>
    <li><b>Specialization in Business Informatics</b>, SGH.</li>
    <li><b>Postgraduate Pedagogical Studies</b>, SGH.</li>
  </ul>

  <h3>Employment / Academic Positions</h3>
  <ul>
    <li><b>Assistant Professor</b>, SGH, Institute of Information Systems and Digital Economy, 2003–2011 as Assistant.</li>
    <li><b>Collaborator</b>, Laboratory of Modeling of Biological Systems, Center for New Technologies, University of Warsaw (from 2018).</li>
    <li><b>Postdoctoral Research Associate</b>, University of Virginia, Charlottesville, USA (May 2024 – June 2025).</li>
    <li><b>Fulbright Visiting Scholar</b>, Texas Tech University, Lubbock, Texas, USA (Aug 2008 – May 2009).</li>
  </ul>
</section>
