<section id="contact">
  <h2>Contact & Profiles</h2>
  <ul>
    <li>Email: pawel.rubach [at] sgh.waw.pl</li>
    <li><a href="https://www.linkedin.com/in/pawel-rubach-b932a4/">LinkedIn</a></li>
    <li><a href="https://www.researchgate.net/profile/Pawel-Rubach">ResearchGate</a></li>
    <li><a href="https://scholar.google.com/citations?user=oTbWZ9oAAAAJ">Google Scholar</a></li>
    <li><a href="https://github.com/prubach/">GitHub</a></li>
    <li><a href="https://orcid.org/0000-0002-1510-3706">ORCID</a></li>
  </ul>
</section>
