<section id="teaching">
  <h2>Teaching / Courses</h2>

  <!-- LEGEND -->
  <div id="teaching-legend">

<!--  <div class="legend-row">-->
<!--    <span class="legend-label">Status:</span>-->
<!--    <span class="badge badge-current">Current</span>-->
<!--    <span class="badge badge-years">Past - Years</span>-->
<!--  </div>-->

  <div class="legend-row">
    <span class="legend-label">Category:</span>
    <span class="badge badge-teaching">Teaching</span>
    <span class="badge badge-coordination">Coordination</span>
    <span class="badge badge-teaching_coordination">Teach + Coord</span>
    <span class="legend-details">Course taught personally / course only coordinated / both taught and coordinated.</span>
  </div>

  <div class="legend-row">
    <span class="legend-label">Level:</span>
      <span class="badge badge-level">Bachelor / Master / Unified</span><span class="legend-details"> Until 2006 SGH offered only unified long-cycle studies which were later replaced with the current 2-cycle system.</span>
  </div>
      <div class="legend-row">
        <span class="legend-label">Authorship:</span>
          <span class="badge badge-original">Authored</span><span class="legend-details"> indicates that the course and its content were originally created and proposed by me sometimes with the help of a team of colleagues from my Insitute.</span>
      </div>
</div>
    <br>


  {% assign sorted_courses = site.data.courses | sort: "sort_key" | reverse %}

  <!-- CURRENT COURSES -->
  <h3>Currently Taught Courses</h3>
  <div class="course-grid">
    {% for course in sorted_courses %}
      {% if course.status == "current" %}
        {% include course_tile.html course=course %}
      {% endif %}
    {% endfor %}
  </div>
    <br>

  <!-- PAST COURSES -->
  <h3>Past Courses</h3>
  <div class="course-grid">
    {% for course in sorted_courses %}
      {% if course.status == "past" %}
        {% include course_tile.html course=course %}
      {% endif %}
    {% endfor %}
  </div>
    <br>
   <h3><a href="{{ '/students/' | relative_url }}">Supervised Master and Bachelor thesis</a></h3>
</section>

